.userFon {
    background: url("../img/Frame 36.png") no-repeat center;
    height: 850px;
}

.names {
    background: url("../img/Frame 36.png") no-repeat center;
    height: 850px;
}

  .userPin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userInput {
    padding: 10px 0 10px 66px;
    margin: 20px;
    width: 291px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    background: #EBEBEB;
    border-radius: 7px;
    border: none;}


.wrapper{
    display: grid;
    grid-template-columns: 2fr  2fr ;
    padding: 30px;
}
