.userFon {
    background: url("../img/Frame 36.png") no-repeat center;
    height: 850px;
}

.names {
    background: url("../img/Frame 36.png") no-repeat center;
    height: 850px;
}

.formDis, .userPin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userInput, .userName {
    padding: 10px 0 10px 66px;
    margin: 20px;
    width: 291px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    background: #EBEBEB;
    border-radius: 7px;
    border: none;}
/*}*/
/*.test{*/
/*padding: 100px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/
/*.choice{*/
/*    padding: 40px;*/
/*}*/
/*.wrapper{*/
/*    display: grid;*/
/*    grid-template-columns: 300px 2fr ;*/
/*    padding: 30px;*/
/*}*/
/*.question{*/
/*    background: #ffffff;*/
/*    width: 400px;*/
/*    height: 50px;*/
/*    border-radius: 20px;*/
/*    text-align: center;*/
